li
  a(href="http://www.nodemanual.org/latest/", class="version") Latest (0.6.9)
li
  a(href="http://www.nodemanual.org/0.6.8/", class="version") 0.6.8
li
  a(href="http://www.nodemanual.org/0.6.7/", class="version") 0.6.7